.icon-32-sendmail	{ 
	background-image: url(../../images/icon-32-send-email.png); 
}
.icon-32-copyemail	{ 
	background-image: url(../../images/icon-32-copy-email.png); 
}
.icon-32-forcepassword	{ 
	background-image: url(../../images/icon-32-force-password.png); 
}